.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form > div {
    display: flex;
}

.formContainer h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
    color: #fff;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(7, 71, 7);
    flex: 1;
    margin:0;
}

.link:hover {
    text-shadow: 0 0 4px #fff;
}

.err {
    justify-content: end;
    color: tomato;
    margin-top: 8px;
}