#game {
    display: flex;
    flex-direction: column;
}

.doors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 16px;
    margin-left: 16px;

}

.button button{ 
    padding: 6px 32px;
    border-radius: 4px;
    background-color: #28a085;
    font-size: 1rem;
    border: none;
    color: rgb(7, 71, 7);
}

.button button:hover{
    background-color: #258c75;
    color: aliceblue;
    font-weight: bold;
    border: 2px solid aliceblue;
    cursor: pointer;
}