* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #444;
  color: #fff  ;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen
}

a {
  color: inherit;
  text-decoration: none;
}

:root{
  --area-door-height: 400px;
  --area-door-width: 200px;
  --color-door: rgb(227, 126, 54);
  --color-ground: rgb(206, 203, 201);
}
